# Dependencies - will be installed via npm install
node_modules/
*/node_modules/
**/node_modules/

# Package lock files - generated on npm install
package-lock.json
yarn.lock
*/package-lock.json
*/yarn.lock
**/package-lock.json
**/yarn.lock
